/* =============================================================================

    TYPOGRAPHY CSS
    Authored by Josh Beveridge

============================================================================= */

/* Google Fonts ============================================================= */

/* Typekit Fonts ============================================================ */
$font-futura: "futura-pt",sans-serif;
$font-freight: "freight-big-pro",serif;

/* Custom Fonts ============================================================= */

/* Font Standard ============================================================ */
html,
body {
    font-size: 100%;
}

/* Sitewide Typography ====================================================== */
::selection {
    background: $gold;
    color: $white;
}
